body {
    margin:0;
    font-family: Raleway, sans-serif;
}
p{
    font-size: 1.1rem;
    overflow: auto;
}
.nav {
    position: fixed;
    display: block;
    z-index: 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-tab {
    float: left;
    width: 11%;
}
.nav-tab a {
    display: block;
    color: #888;
    text-align: center;
    padding: 14px 3px;
    text-decoration: none;
    font-size: 1.3rem;
}
.brand img{
    height: 3.3rem;
    float:right;
    padding-right: 1rem;
}
.nav-tab a:hover:not(.active) {
    background-color: #ccc;
}
.active {
    background-color: #bbb;
}
.jumbotron{
    display: block;
    background-size: cover;
    background-attachment: fixed;
    top:3.3rem;
    right: 0;
    left: 0;
    height: auto;
    min-height: 100vh;
    padding-top: 1rem;
    overflow: hidden;
}
#landing .jumbotron {
    background-image: url('img/home.jpg');
}
#about .jumbotron {
    background-image: url('img/about_overlay.png');
}
#twoDee .jumbotron{
    background-image: url('img/twoDee_overlay.png');
}
#threeDee .jumbotron{
    background-image: url('img/threeDee_overlay.png');
}
#anim .jumbotron{
    background-image: url('img/anim_overlay.png');
}
#vr .jumbotron{
    background-image: url('img/vr_overlay.png');
}
#resume .jumbotron{
    background-image: url('img/resume_overlay.png');
}
#sc .jumbotron{
    background-image: url('img/sc_overlay.png');
}
#landing h2, h3 {
    position: absolute;
    letter-spacing: 8px;
    padding: 5px 5px;
    background: -moz-linear-gradient(left,  rgba(206,207,206,0.5) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(206,207,206,0.5) 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to right,  rgba(206,207,206,0.5) 0%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80cecfce', endColorstr='#007db9e8',GradientType=1 );
}
#landing h2{
    color: #EEE;
    font-weight: bold;
    font-size: 4rem;
    width:39.263%;
    margin-left: 4.5%;
}
#landing h3 {
    color: #CCC;
    font-size: 1.3rem;
    margin-left: 40%;
    width:43%;
    margin-top: 30%;
}
.title{
    margin-top: -1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: -moz-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 50%, rgba(204,204,204,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(204,204,204,1) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(204,204,204,1) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#00cccccc',GradientType=1 );
}
#about{
    position: relative;
}
#about img{
    margin-top: -1rem;
    left: 0;
    height:100vh;
    float: left;
    padding-right: 0.5rem;
}
#intro{
    margin-top: 3.3rem;
    text-align: center;
    padding-bottom: 0.5rem;
    background-color: rgba(180, 180, 155, 0.5);
}
#intro p{
    font-size: 0.9rem;
    margin-left: 20vw;
    margin-right: 20vw; 
}
.res1, .res2{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.res1 p, .res2 p{
    margin-left: 3rem;
    margin-right: 3rem;
}
.res1 table, .res2 table{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    width: 100%;
}
#quote{
    font-size: 0.9rem;
}
.date{
    float:right;
    text-align: right;
    font-style: italic;
    padding-right: 0.2rem;
}
ul{
    padding-left: 6rem;
    margin-top: -1rem;
}
#rsc{
    margin-top: 1rem;
}
.res1 tr, .res2 tr{
}
.tdt, .res2{
    background-color: rgba(140, 140, 140, 0.5);
}
.porttwo table tr{
    height: 20rem;
    width: 100vm;
}
.porttwo table{
    width: 100vw;
    height: 100%;
    border-collapse: collapse;
}
iframe{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.pic, .pic3{
    position: relative;
    width:50vw;
    height: 100%;
    margin: auto;
    text-align: center;
}
.tdt img{
    display: inline-block;
    height: 7rem;
    padding: 0.5rem;
}
.td img{
    display: inline-block;
    height: 15rem;
    padding: 0.5rem;
}
.pic img{
    display: inline-block;
    height: 18rem;
    padding: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.pic3 img{
    display: inline-block;
    height: 9rem;
    padding: 0.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.cap{
    position: relative;
    width:50%;
    height: 100%;
    text-align: center;
    font-size: 1.0rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cap p{
    font-size: 1.0rem;
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: overline underline;
}
.miscpic{
    text-align: center;
    margin: auto;
}
.td, .tdt{
    width: 100vw;
}
.anim{
    width: 100vw;
    height:60vh;
    text-align: center;
    padding-top:0.75rem; 
}
.vr{
    width: 100vw;
    height:60vh;
    text-align: center;
    padding:0.75rem; 
}
.ress{
    width:50vw;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.anim video{
    display: inline-block;
    height: 52vh;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: #000033;
}